<form [formGroup]="form" (ngSubmit)="onSubmit()">

    <mat-form-field>
        <mat-label>Input</mat-label>
        <input matInput type="text" formControlName="message"/>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Submit</button>
</form>
<div *ngIf="greetings$ | async as greetings">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <ng-container matColumnDef="message">
      <th mat-header-cell *matHeaderCellDef> Message </th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="!element.editing; else editMode">
          <span (click)="startEdit(element)" class="editable-cell">
            {{element.message}}
            <mat-icon class="edit-icon">edit</mat-icon>
          </span>
        </ng-container>
        <ng-template #editMode>
          <mat-form-field appearance="outline" class="edit-form-field">
            <input matInput [(ngModel)]="element.editMessage" 
                   (keyup.enter)="saveEdit(element)"
                   (keyup.escape)="cancelEdit(element)"
                   #messageInput>
            <button mat-icon-button matSuffix (click)="saveEdit(element)" color="primary">
              <mat-icon>check</mat-icon>
            </button>
            <button mat-icon-button matSuffix (click)="cancelEdit(element)">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </ng-template>
      </td>
    </ng-container>
  
    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef> Created At </th>
      <td mat-cell *matCellDef="let element"> {{element.createdAt | date:'dd/MM/yyyy HH:mm'}} </td>
    </ng-container>
  
    <ng-container matColumnDef="updatedAt">
      <th mat-header-cell *matHeaderCellDef> Updated At </th>
      <td mat-cell *matCellDef="let element"> {{element.updatedAt | date:'dd/MM/yyyy HH:mm'}} </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Delete </th>
      <td mat-cell *matCellDef="let element"> <button mat-icon-button color="warn" (click)="deleteGreeting(element.id)">
        <mat-icon>delete</mat-icon>
      </button> </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>