<div class="container">
  <div class="form-section">
    <h2>Add New Message</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="message-form">
      <nz-input-group nzSize="large" nzCompact>
        <input 
          nz-input 
          formControlName="message" 
          placeholder="Enter your message..." 
          type="text"
          maxlength="350"
          style="width: calc(100% - 80px)"
        />
        <button 
          nz-button 
          nzType="primary" 
          nzSize="large"
          type="submit"
          [disabled]="!form.valid"
          style="width: 80px"
        >
          Send
        </button>
      </nz-input-group>
      <div 
        class="character-count" 
        *ngIf="form.get('message')?.value"
        style="text-align: right; font-size: 12px; color: #666; margin-top: 4px;"
      >
        {{ form.get('message')?.value?.length || 0 }}/350
      </div>
    </form>
  </div>

  <div class="table-section">
    <h2>Messages</h2>
    <nz-table [nzData]="(messages$ | async) || []" nzSize="middle" [nzPageSize]="10">
      <thead>
        <tr>
          <th nzWidth="80px">ID</th>
          <th>Message</th>
          <th nzWidth="150px">Created</th>
          <th nzWidth="150px">Updated</th>
          <th nzWidth="120px">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of (messages$ | async) || []">
          <td>{{data.id}}</td>
          <td>
            <ng-container *ngIf="!data.editing; else editMode">
              <span 
                [class.not-owner]="!canEdit(data)" 
                (click)="startEdit(data)"
                (keyup.enter)="startEdit(data)"
                (keyup.escape)="cancelEdit(data)"
                tabindex="0"
                class="editable-cell"
              >
                {{data.message}}
                <nz-icon *ngIf="canEdit(data)" class="edit-icon" nzType="edit" />
              </span>
            </ng-container>
            <ng-template #editMode>
              <nz-input-group nzCompact>
                <input
                  nz-input
                  [(ngModel)]="data.editMessage" 
                  (keyup.enter)="saveEdit(data)"
                  (keyup.escape)="cancelEdit(data)"
                  #messageInput
                  style="width: calc(100% - 64px)"
                >
                <button nz-button nzType="primary" (click)="saveEdit(data)" style="width: 32px">
                  <nz-icon nzType="check" />
                </button>
                <button nz-button nzType="default" (click)="cancelEdit(data)" style="width: 32px">
                  <nz-icon nzType="close" />
                </button>
              </nz-input-group>
            </ng-template>
          </td>
          <td>{{data.createdAt | date:'dd/MM/yyyy HH:mm'}}</td>
          <td>{{data.updatedAt | date:'dd/MM/yyyy HH:mm'}}</td>
          <td>
            <nz-button-group nzSize="small" *ngIf="canEdit(data)">
              <button nz-button nzType="default" (click)="startEdit(data)">
                <nz-icon nzType="edit" />
              </button>
              <button nz-button nzType="default" nzDanger (click)="deleteGreeting(data.id)">
                <nz-icon nzType="delete" />
              </button>
            </nz-button-group>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>