<form [formGroup]="form" (ngSubmit)="onSubmit()">

    <mat-form-field>
        <mat-label>Input</mat-label>
        <input matInput type="text" formControlName="message"/>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Submit</button>
</form>
<div *ngIf="greetings$ | async as greetings">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <ng-container matColumnDef="message">
      <th mat-header-cell *matHeaderCellDef> Message </th>
      <td mat-cell *matCellDef="let element"> {{element.message}} </td>
    </ng-container>
  
    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef> Created At </th>
      <td mat-cell *matCellDef="let element"> {{element.createdAt | date:'dd/MM/yyyy HH:mm'}} </td>
    </ng-container>
  
    <ng-container matColumnDef="updatedAt">
      <th mat-header-cell *matHeaderCellDef> Updated At </th>
      <td mat-cell *matCellDef="let element"> {{element.updatedAt | date:'dd/MM/yyyy HH:mm'}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>